* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

html body {
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;

}

header {
    position: sticky;
    top: 0;
    background-color: navy;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin: 5px;
    padding: 0px;
}

header ul {
    position: sticky;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

header li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

header li:hover {
    background-color:gray;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

main {
    display: inline-block;
    max-width: 1100px;
    font-size: large;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

#sidebar {
    position: sticky;
    top: 75px;
    background-color:aliceblue;
    float: inline-start;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    margin: 20px 2px;
    padding: 5px;
}

#sidebar h2 {
    color: navy;
    text-align: center;
    margin: 20px 5px;
    padding: 5px;
    border-radius: 10px;
}

#sidebar ul {
    list-style-type: none;
    overflow: hidden;
}

#sidebar ul li {
    text-decoration: none;
    margin: 0px;
    padding: 10px 0px;
}

#sidebar a {
    color: black;
    text-decoration: none;
}

#sidebar a:hover {
    color: blue;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
}

#content {
    float: inline-end;
    width: 65%;
    text-align: justify;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}

footer {
    float:end;
    text-align: center;
    width: 100%;
    border-radius: 0px;
}
footer h5 {
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

footer ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
}

footer li {
    font-size: 12px;
}
