header {
    background-color: navy;
    text-align: center;
    border-radius: 10px;
    display: block;
}

header ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

header li {
    display: inline;
    margin: 10px;
    padding: 10px 10px;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

header li:hover {
    background-color:gray;
    border-radius: 10px;
    margin: 0px;
    padding: 15px 20px;
    border-radius: 10px;
}