* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
}

html body {
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;

}

header {
    position: sticky;
    top: 0;
    background-color: navy;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: block;
    margin: 0px;
    padding: 0px;
}

header ul {
    position: sticky;
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
}

header li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

header li:hover {
    background-color:gray;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

main {
    display: inline-block;
    max-width: 1200px;
    font-size: large;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

body main .content {
    float: inline-end;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin: 5px 15px;
    padding: 5px 40px;
}

body main h1 {
    text-align: center;
    margin: 15px 5px;
    padding: 5px;
}

body main .content ul {
    list-style-type: none;
    overflow: hidden;
}

body main .content ul li {
    float: center;
    text-decoration: none;
    margin: 10px;
    padding: 10px
}

body main .content a {
    background-color: aliceblue;
    color: black;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    text-decoration: none;
}

body main .content a:hover {
    background-color: navy;
    color: white;
}

.content {
    float: inline-end;
    width: 65%;
    text-align: justify;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}

.content h1 {
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 2;
    margin: 30px;
    padding: 0px;
}

.content h2 {
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 2;
    margin: 20px;
    padding: 0px;
}

.content h3 {
    text-align: left;
    text-decoration: underline;
    line-height: 2;
    margin: 10px;
}

footer {
    float:end;
    text-align: center;
    width: 100%;
    border-radius: 0px;
}
footer h5 {
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

footer ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
}

footer li {
    font-size: 12px;
}
